:root {
  --padding-order: 1rem;
}

/* * {
  font-family: 'Poppins';
} */

#cart-price {
  padding-left: var(--padding-order);
  padding-right: var(--padding-order);
}

.header-containerB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-name {
  user-select: none;
  font-family: 'Poppins';
  font-weight: bold;
}

.info-text {
  font-family: 'Poppins', sans-serif;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-weight: 700;
  font-size: 64px;
  line-height: 65px;
}

.info-secondary-text {
  font-family: 'Poppins';
  font-size: 20px;
  padding-bottom: 2rem;
  font-weight: 400;
  color: #000000;
}

.containerB {
  margin: 0rem;
  padding-top: 4rem;
  padding-left: 7rem;
  padding-right: 6rem;
}

.order {
  display: flex;
  background: #f9f5f5;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding-left: var(--padding-order);
  padding-right: var(--padding-order);
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.order-container {
  margin: 0 auto;
  width: max-content;
  padding: 1rem;
}

.itemsB {
  display: grid;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  background-color: #f9f5f5;
  padding: 3rem;
  text-align: center;
  border-radius: 30px;
}

.basket-image {
  width: 15px;
  height: 15px;
  position: relative;
  background: #ffff;
  border-radius: 7px;
  padding: 0.75rem;
  left: 2rem;
  top: 4rem;
}

.basket {
  width: 25px;
  height: 25px;
}

.itemsB > span {
  color: #797979;
  font-weight: 600;
}

.about > li {
  color: #797979;
}

.order > img {
  padding: 0rem 3rem 0rem 3rem;
}

.order p {
  text-align: center;
  padding-top: 1rem;
}

.order > button {
  border: none;
  border-radius: 7px;
  background: #f9f5f5;
  cursor: pointer;
  transition: 0.2s;
  padding: 0.250rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.order > button:hover {
  background: #d0c8c8;
}

.order-total {
  padding: 1rem 0 1rem 0;
  display: grid;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 20px;
}

#order-button {
  padding: 0.750rem;
  margin-left: 3rem;
  margin-right: 2rem;
  font-family: 'Poppins';
  background: #ff8515;
  color: white;
  border-radius: 15px;
  font-style: normal;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}

#order-button:hover{
  background: #f57e0f;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0.650rem;
}

span {
  color: #ff8515;
}

a {
  text-decoration: none;
}

a:visited {
  color: #797979;
}
 