:root {
  --padding-order: 1rem;
}

#cart-price {
  padding-left: var(--padding-order);
  padding-right: var(--padding-order);
  transition: ease 2s;
}

.header-containerB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-name {
  user-select: none;
  font-family: 'Poppins';
  font-weight: bold;
}

.info-text {
  font-family: 'Poppins', sans-serif;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-weight: 700;
  font-size: 64px;
  line-height: 65px;
}

.info-secondary-text {
  font-family: 'Poppins';
  font-size: 20px;
  padding-bottom: 2rem;
  font-weight: 400;
  color: #000000;
}

.containerB {
  margin: 0rem;
  padding-top: 4rem;
  padding-left: 7rem;
  padding-right: 6rem;
}

.order {
  display: flex;
  background: #f9f5f5;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding-left: var(--padding-order);
  padding-right: var(--padding-order);
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.order-container {
  margin: 0 auto;
  width: max-content;
  padding: 1rem;
}

.itemsB {
  display: grid;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  background-color: #f9f5f5;
  padding: 3rem;
  margin-right: -3rem;
  text-align: center;
  border-radius: 30px;
}

.itemsB > button {
  background: #ffff;
  width: 40px;
  border-radius: 7px;
  border: none;
  margin: auto;
} 

.dollar-sign-span {
  color: #f57e0f;
}

.modal-content {
  font-family: 'Poppins';
  padding: 3rem;
  text-align: center;
}


.modal-body > h1 {
  color: #ff8515;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 1rem;
}

.modal-body > h2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #797979;
}

.modal-body > button {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #ff8515;
  margin-top: 2rem;
  border: none;
  border-radius: 15px;
  padding: 1rem 3rem 1rem 3rem;
}

.basket {
  width: 25px;
  height: 25px;
}

.itemsB > span {
  color: #797979;
  font-weight: 600;
}

.about > li {
  color: #797979;
}

.order > img {
  padding: 0rem 3rem 0rem 3rem;
}

.order p {
  text-align: center;
  padding-top: 1rem;
}

.order > button {
  border: none;
  border-radius: 7px;
  background: #f9f5f5;
  cursor: pointer;
  transition: 0.2s;
  padding: 0.250rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.order > button:hover {
  background: #d0c8c8;
}

.info-text > span {
  color: #ff8515;
}

.item-price > span {
  color: #ff8515;
}

#total > span {
  color: #ff8515;
}

.order-total {
  padding: 1rem 0 1rem 0;
  display: flex;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 20px;
}

.modal-footer-container {
  display: flex;
  margin-right: auto;
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 700;
}

.cart-items {
  display: grid;
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin: auto;
}

.item-images  {
  width: 140px;
  height: 120px;
  margin-left: 2rem;
}

.items-container {
  display: flex;
  margin-right: 4rem;
}

.item-price {
  margin-left: auto;
}

.total-text {
  margin-left: 2.5rem;
}

.modal-content {
  padding: 2rem;
  background: #F9F6F6;
}

#total {
  margin-left: 12.5rem;
  font-weight: 700;
}

#disabled-button {
  padding: 0.750rem;
  margin-left: 3rem;
  margin-right: 2rem;
  font-family: 'Poppins';
  background: #ff8615be;
  color: white;
  border-radius: 15px;
  font-style: normal;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}

#order-button {
  padding: 0.750rem;
  margin-left: 3rem;
  margin-right: 2rem;
  font-family: 'Poppins';
  background: #ff8515;
  color: white;
  border-radius: 15px;
  font-style: normal;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}

#delivery {
  font-family: 'Poppins';
  font-weight: 600;
  background: #FFE5CD;
  border-radius: 15px 0px 0px 15px; 
  text-align: center;
  color: #F17C0F;
}

#order-button:hover{
  background: #f57e0f;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 0.250rem;
  margin: 0.650rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #797979;
}
 